section.section
  .container
    h1.title
      | Omoidashitterへようこそ！
    h2.subtitle
      |  Omoidashitterは簡単にあなたのツイートを思い出せるアプリです！ 
    .columns
      .column
        .box
          article.media
            .media-left
              figure.image.is-64x64
                = fa_icon 'sign-in 4x'
            .media-content
              .content
                p
                  strong
                    | Twitterの簡単ログインで使える！
                  br
                  |  ボタンをクリックしてTwitter認証するだけで使えます！ 
      .column
        .box
          article.media
            .media-left
              figure.image.is-64x64
                = fa_icon 'sign-in 4x'
            .media-content
              .content
                p
                  strong
                    | Twitterの簡単ログインで使える！
                  br
                  |  ボタンをクリックしてTwitter認証するだけで使えます！ 
      .column
        .box
          article.media
            .media-left
              figure.image.is-64x64
                = fa_icon 'sign-in 4x'
            .media-content
              .content
                p
                  strong
                    | Twitterの簡単ログインで使える！
                  br
                  |  ボタンをクリックしてTwitter認証するだけで使えます！ 
    = link_to "ツイッターでログインする", "/auth/twitter", :class => "button is-info is-large is-fullwidth"
    = image_tag('eruko.png', :size => "320x320")
br
