<section class="section">
  <div class="container">
    <h1 class="title">Omoidashitterへようこそ！</h1>
    <h2 class="subtitle">
      Omoidashitterは簡単にあなたのツイートを思い出せるアプリです！
    </h2>
    <%= link_to "ツイッターでログインする", "/auth/twitter", :class => "button is-medium is-info" %>
    <%= image_tag('eruko.png', :size => "320x320") %>

  </div>
</section>

<br>