/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bulma";
@import "font-awesome";
//@import "bootstrap-sprockets";
//@import "bootstrap";
//@import "honoka";

#loading-view {
  /* 領域の位置やサイズに関する設定 */
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  /* 背景関連の設定 */
  background-color: #000000;
  filter: alpha(opacity=65);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-image: url(eruko.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100vh;
  background-image: image_url("back-ground_image.png");
}

body {
  height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #02d0b2;
}

.tweet-date {
  padding-top: 1vh;
}

.copyright {
  color: #FFFFFF;
}